body{
    color: #272626;
    background-color: whitesmoke;
    background-image: url("daniel-olah-HNkgPFBShSw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial Narrow Bold', sans-serif; 
    font-size:16px;
}

h1{
    background-color:#7c86e2;
    font-family: fantasy;
    font-size:35px;
    height:30px;
    text-align: right;
    padding:10px;
}

.big-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;;
    justify-content: center;
}

.container{
    text-align: center;
    margin: 10px;
}

.info{
    color: azure;
    font-size: 20px;;
    height:50px;
}

.listQ{
    margin-top:10px;
    text-align: left;    
}

.main{
    display: flex;
    justify-content: center;
}

.optionsBtn{
    background-color:rgb(173, 230, 171);
    border:none;
    border-radius: 10px;
    color: #272626;
    font-size:20px;
    justify-content: center;
    margin:5px;
    text-align: center;
}

#answerKey{
    background-color: #7c86e2;
    padding: 15px;
}

#form{
    margin-top: 15px;

}

#score{
    background-color: #7c86e2;
    color: #272626;
    font-family: fantasy;
    font-size:20px;
    padding: 15px;
}

#startBtn{
    background-color:#7c87e2;
    border:none;
    border-radius: 30px;
    color:whitesmoke;
    font-size:40px;
    height:50px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    margin-top: 20px;
    
}

#timerStatus{
    font-family: impact;
    font-size:25px;
    height:40px;
    padding:20px;
}

#score{
    background-color: #7c86e2;
    color: #272626;
    font-family: fantasy;
    font-size:20px;
    text-align: center;
}
#startBtn{
    background-color:#7c87e2;
    border:none;
    border-radius: 30px;
    color:whitesmoke;
    font-size:40px;
    height:50px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    margin-top: 15px;
    
}
#timerStatus{
    font-family: impact;
    font-size:25px;
    height:40px;
    padding:20px;
}

@media only screen and (max-width: 350px) {
    body{
        color: #272626;
        background-color: whitesmoke;
        background-image: url("");
        font-family: 'Arial Narrow Bold', sans-serif; 
        font-size:10px;
    }
    .info{
        color:#272626;
        font-size: 20px;;
        height:50px;
    }
    #form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
    }
    h1{
        font-family: fantasy;
        font-size:25px;
        text-align: right;
        padding:10px;
    }
    .logo{
        font-size:25px;
    }
    .optionsBtn{
        font-size:15px;
    }
    #score{
        font-size:15px;
    }
  }